<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add/Update Category</nb-card-header>
      <nb-card-body>
        <form [formGroup] = "CategoryForm" (ngSubmit) = "addCategory()">
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputCategoryName">Category Name</label>
                  <input formControlName="categoryName" type="text" class="form-control" id="inputCategoryName" placeholder="Category Name"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputCategoryStatus">Status</label>
                  <select formControlName="status" class="form-control" id="inputCategoryStatus">
                    <option selected value="Enable">Enable</option>
                    <option value="Disable">Disable</option>
                  </select>
                </div>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Add/Update Category</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header>
    View Category 
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
