<ion-header>
  <ion-navbar>
    <ion-icon class="search" *ngIf="showSearchIcon" (click)="showSearchBar('search')" name="search"></ion-icon>
    <ion-icon class="filter" name="ios-funnel-outline" right></ion-icon>
    <ion-icon name="menu" menuToggle right></ion-icon>
    <div class="primary-header" *ngIf="showSearchDiv">
      <div class="search-product"> 
        <input list="browsers" no-special-char id="searchedItemInInput" type="text" placeholder="Search" data-ng-model="searchInput" data-ng-keyup="showSearchResultOnEnter(searchInput, $event)" data-ng-click="blankInputTextBoxOnBlur(searchInput)" auto-focus="true" maxlength="30" ng-maxlength="30" autofocus/>
        <ion-icon class="close" name="close" (click)="showSearchBar('close')"></ion-icon>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="home_page">
  <aside class="side-nav">
    <ul>
      <li *ngFor="let category of categoryArray; let i = index" (click)="loadCategoryProducts(category)">
        <div class="menu-item" [ngClass]="(category.id==activeCategoryId)?'active':''">
          <span ngClass="item"><ion-icon name="menu"></ion-icon></span>
        </div>
      </li>
    </ul>
  </aside>
  <!-- <div class="cart">
    <div data-ng-click="checkValue()">
        <span class="cart-total-item" data-ng-bind="$root.cartCount">0</span>
        <ion-icon class="cart-icon" name="md-cart"></ion-icon>
    </div>

    <div class="cart-item-detail" data-ng-show="viewObject.showProductInfoPopUp" data-ng-class="{'kfc-transition':viewObject.showProductInfoPopUp ,'':!viewObject.showProductInfoPopUp} ">
        <div class="clearfix cart-product">
            <strong class="item-name"> Added</strong>
            <span class="item-price">
                <sup><small class="webRupee">rs</small></sup>
                100
            </span>
        </div>
        <div class="btn-group">
            <button class="btn" data-ng-click="backtoHome($event)">Back to menu</button>
            <button class="btn active-btn" data-ng-click="checkout()">Checkout</button>
        </div>
    </div>
  </div> -->
  <div class="products_section">
    <div class="no_products" *ngIf="productArray.length==0">Sorry! <br>No Products Found.</div> 
    <div class="products" *ngFor="let product of productArray; let i = index">
      <div class="product_details">
        <div class="product_image" (click)="getProductDetails(product)">
          <img src="assets/imgs/product_default_image.png">
        </div>
        <div class="product_data">
          <div class="product_name">{{product.product_name}}</div>
          <div class="product_price_cart">
            <div class="product_price display_inline">&#8377;{{product.product_price}}</div>
            <!-- <div class="product_special_price display_inline">
              &#8377;900
            </div> -->
            <div class="product_discount display_inline">&#8377;{{product.product_splprice}} OFF</div>
          </div>
          <div class="add_to_cart" [ngClass]="(product.available=='false')?'disable':''">{{product.available=='false'?'Out of Stock':'Add to Cart'}}</div>
        </div>
        <img src="assets/imgs/footer_line.png">
      </div>
    </div>
  </div>
</ion-content>
