page-product {
	.header {
		.search, .filter, .bar-buttons {
			font-size: 2em;
			color: #fff;
		}
		.filter {
			float: right;
			padding-right: 15px;
		}
		.primary-header {
			position: relative;
			padding: 0px;
		}
	}
	.content {
		.scroll-content {
			.products_section {
				position: relative;
				padding: 10px 10px;

				.products {
					overflow: hidden;
					// display: inline-block;
					.product_details {
						overflow: hidden;
						text-align: center;
						
						.product_image {
							width: 100%;
							height: 100%;
							text-align: center;
						}
						.product_name {
							font-size: 18px;
							padding: 0px 0px 10px 0px;
							text-align: left;
							font-weight: bold;
						}

						.product_data {
							margin: 10px 0px;

							.product_desc {
								.desc_title {
									font-size: 16px;
									text-align: left;
									font-weight: bold;
									color: #232222;
								}
								.desc_short, .desc_full {
									text-align: justify;
									font-size: 13px;
									color: #232222;
									margin: 10px 0px;
								}
							}
							.product_table {
								padding: 0px;
								border: 1px solid #232222;
								border-bottom: 0px;
								margin-bottom: 20px;

								.row {
									text-align: left;
									border-bottom: 1px solid #232222;
									.col1 {
										border-right: 1px solid #232222;
									}
									.col {
										padding: 10px;
									}
								}
							}
							.button {
								width: 100%;
								background-color: #b5102d;
								// margin-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}
}
