<ion-content>
  <ion-fab top left>
    <button ion-fab mini menuToggle><ion-icon name="menu"></ion-icon></button>
  </ion-fab>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile1.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile2.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile3.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile4.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile2.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile3.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile4.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile1.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile2.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile3.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile4.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile3.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile4.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile1.png"/>
  </div>
  <div class="hotornot_section">
    <img (click)="openUserProfile(1)" src="assets/images/profile2.png"/>
  </div>
  <div id="overlay" class="overlay" *ngIf="showUsersProfile"></div>
  <div data-pop="pop-swirl" id="popup" class="member_profile" *ngIf="showUsersProfile" [ngClass]="showUsersProfile==true ? 'show' : ''">
    <ion-icon id="popupclose" class="closeProfile" name="close" (click)="closePopUp()"></ion-icon> 
    <div class="location">
      <ion-icon name="pin" class="title"><span> Current Location (~2.2 km away)</span></ion-icon> 
      <div class="description">New Delhi, Delhi</div>
    </div>
    <div class="about_me">
      <ion-icon name="information-circle" class="title"><span> About Me</span></ion-icon>
      <div class="description">Hello World! This is the development phase of Love Points App. Stay tuned for more updates!</div>
    </div>
    <div class="languages">
      <ion-icon name="globe" class="title"><span> Languages</span></ion-icon>
      <div class="description">English, German, French</div>
    </div>
  </div>
  <ion-list class="filter_list">
    <ion-item *ngFor="let d of data" >
      <div (click)="toggleDetails()">
        <ion-icon color="primary" class="filter_icon" item-right [name]="showUsersFilterIcon"></ion-icon>
        <div class="filter_label">Filters</div>
      </div>
      <ion-card *ngIf="showUsersFilter">
      <ion-card radio-group  class="filter_gender">
        <ion-list-header>
          Gender
        </ion-list-header>
        <ion-item> 
          <ion-label>Male</ion-label>
          <ion-radio checked="true" value="male"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio value="female"></ion-radio>
        </ion-item>
      </ion-card>
      <ion-card radio-group class="filter_range">
        <ion-list-header>
          Range
        </ion-list-header>    
        <ion-item>
          <ion-range min="0" max="200" pin="true" [(ngModel)]="contrast" color="secondary">
            <ion-icon range-left small name="pin"></ion-icon>
            <ion-icon range-right name="pin"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-card>
      <ion-card radio-group class="filter_age">
        <ion-list-header>
          Age
        </ion-list-header>
        <ion-item>
          <ion-range dualKnobs="true" pin="true" [(ngModel)]="structure" color="dark">
            <ion-icon range-left small name="people"></ion-icon>
            <ion-icon range-right name="people"></ion-icon>
          </ion-range> 
        </ion-item>
      </ion-card>
      <div class="filter_member">
        <button ion-button block>Become VIP</button>
      </div>
    </ion-card>
      <!-- <div *ngIf="showUsersFilter" style="white-space: pre-wrap;">{{d.details}}</div> -->
    </ion-item>
  </ion-list>
  <tab></tab>
</ion-content>