<ion-header>
  <ion-navbar>
    <ion-title>MY ADDRESSES</ion-title>
    <ion-icon name="menu" menuToggle right></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content class="address_page">
  <section class="sub-page">
    <div class="address-header" *ngIf="userAddressList.length==0">You have no saved addresses. Please add one.</div>
    <div class="address-header" *ngIf="userAddressList.length>0">CHOOSE FROM SAVED ADDRESSES</div>
    <div class="address">
      <ul>
        <li class="" *ngFor="let address of userAddressList; let i=index">
          <div class="address-data" [ngClass]="(i==activeAddress)?'active':''">
            <ion-icon (click)="deleteAddress(address.id)" class="delete-icon" name="ios-trash-outline"></ion-icon>
            <!-- <ion-icon class="edit-icon" name="md-create"></ion-icon> -->
            <div class="user_data" (click)="setActiveAddress(i,address)">
                <ion-icon class="home-icon"  name="ios-home-outline"></ion-icon>
                <strong class="text-overflow">
                  <span>{{address.firstName}}&nbsp;{{address.lastName}}</span>
                </strong>
                <p>
                  <span class="">{{address.address}},</span> 
                  <span class="">{{address.city}},</span>
                  <span class="">{{address.state}},{{address.country}},{{address.pincode}}</span>
                </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="add-new">
        <a href="javascript:void(0);" (click)="addNewAddress()">+ Add new address</a>
      </div>
      <button ion-button block *ngIf="userAddressList.length>0" (click)="setDeliveryAddress()">DELIVER TO THIS ADDRESS</button>
      <!-- <button ion-button block *ngIf="userAddressList.length>0 && actionButton==true" (click)="setCheckoutAddress()">DELIVER TO THIS ADDRESS</button> -->
    </div>
  </section>
</ion-content>