// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.header {
	.toolbar {
    	padding: 14px 15px 12px;
    }
    .toolbar-background {
	    border-color: #b2b2b2;
		background: #0e0e0e;
		color: #fff;
	}
	.back-button { 
		font-size: 1em;
		color: #fff;
	}
	.bar-buttons{ 
		font-size: 2em;
		color: #fff;
	}
	.toolbar-title {
		color: #fff;
	}
	.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
		color: #fff;
	}
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0 0 0px;
}
.menu-enabled {
	.header {
		.toolbar {
	    	padding: 14px 15px 12px;
	    }
	    .toolbar-background {
		    border-color: #b2b2b2;
			background: #fff;
			color: #fff;
		}
	}
}
.menu-inner {
	z-index: 320;
    height: 100%;
    overflow: auto;
	padding-top: 20px;
	
	.user {
		position: relative;
		padding-left: 14px;
		margin-bottom: 10px;

		figure {
			float: left;
			width: 60px;
			border-radius: 50%;
			margin: 0em 0px;

			img {
				width: 60px;
				height: 60px;
				display: block;
				border-radius: 50%;
			}
		}

		.user-detail {
			float: left;
			width: calc(100% - 75px);
			margin-left: 15px;

			strong {
				display: block;
				font-size: 16px;
				color: #000;
				text-transform: capitalize;
				margin-top: 4px;
				padding-right: 40px;
			}

			div {
				font-size: 16px;
				color: #c51230;
				margin-top: 15px;
				text-transform: capitalize;
				-webkit-tap-highlight-color: transparent;
			}
		}
	}
}